<h1>5 Installation of the JDK on Microsoft Windows Platforms</h1>
<p class="fs-6">This topic includes the following sections:</p>
<ul>
  <li><a
    href="https://docs.oracle.com/en/java/javase/15/install/installation-jdk-microsoft-windows-platforms.html#GUID-A7E27B90-A28D-4237-9383-A58B416071CA"
    target="_blank"
    class="text-decoration-none">System Requirements for Installing the JDK on 64-Bit Windows Platform</a>
  </li>
  <li><a href="/" class="text-decoration-none">System Requirements for Installing the JDK on 64-Bit Windows Platform</a>
  </li>
</ul>
<p class="fs-3">System Requirements for Installing the JDK on 64-Bit Windows Platform</p>
<p class="fs-6">For supported processors and browsers, see Oracle JDK Certified Systems Configurations.</p>

<img src="/assets/img/logo.png" width="100%" height="300" alt="image...">

<div class="m-5"></div>

<table class="table table-bordered">
  <thead class="thead-light">
  <tr>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Row 1</td>
    <td>Row 2</td>
    <td>Row 3</td>
  </tr>
  </tbody>
</table>
