<div class="flex-shrink-0 p-3 bg-white border-purple scrolled" style="border-right: 3px solid">
  <ul class="list-unstyled ps-0" id="list-menu">
    <!--    <li class="mb-1">-->
    <!--      <button class="btn btn-toggle align-items-center rounded collapse" aria-expanded="true">-->
    <!--        Home-->
    <!--      </button>-->
    <!--      <div class="collapse">-->
    <!--        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
    <!--          <li><a href="/#/home" class="list-group-item rounded">Overview</a></li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </li>-->
  </ul>
</div>
