<app-navbar class="fixed-top"></app-navbar>
<div class="row" style="margin-top: 75px;">
  <div *ngIf="isSidebarShow===true" class="col-md-2 px-4 py-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="{{getClassForMainContent()}}">
    <router-outlet></router-outlet>
  </div>
</div>
